@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* #110515 #b26fcb #221545 #68388d #855ab4 #ed8dca #c850a7 #892578 #513153 #583b71*/

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #111111;
  margin: 0;
  padding: 0;
}

/* .btn-btn {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
} */

/* .btn-btn {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: transparent;
  transition: background 0.5s ease, border 0.5s ease; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  clip-path: inset(0); 
}

.btn-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;  
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, #110515, #221545, #68388d, #855ab4, #c850a7);
  transition: all 0.5s ease;
  z-index: -1;  
  overflow: hidden;
}

.btn-btn:hover::before {
  left: -50%;
}

.btn-btn:hover {
  border-color: transparent;
  overflow: hidden;
} */

/* .btn-btn {
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  background-color: transparent; 
  transition: 0.5s ease;
  transition: border 0.5s ease, color 0.5s ease;
}

.btn-btn:hover {
  border-image: linear-gradient(
    to right,
    rgba(178, 111, 203, 1) 0%,
    rgba(104, 56, 141, 1) 100%
  ) 1; 
  color: transparent; 
  background: radial-gradient(
    circle,
    rgba(178, 111, 203, 1) 0%,
    rgba(104, 56, 141, 1) 100%
  ); 
  -webkit-background-clip: text; 
  background-clip: text; 
  border-width: 2px;
  transition: border-image 0.5s ease, color 0.5s ease;
  border-radius: 10px;
} */

.btn-btn {
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  background-color: transparent; 
  transition: 0.5s ease;
}

.btn-btn:hover {
  padding: 4px 14px;
  color: transparent; 
  background: radial-gradient(
    circle,
    rgba(178, 111, 203, 1) 0%,
    rgba(104, 56, 141, 1) 100%
  ); 
  -webkit-background-clip: text; 
  background-clip: text; 
  box-shadow: 0 0 0 1px rgba(178, 111, 203, 1), 0 0 0 1px rgba(104, 56, 141, 1);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s ease;
}



/* NAVBAR */
.bg-blur {
  backdrop-filter: blur(10px);
  background-color: transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav {
  font-size: 1.1rem;
}

.nav-link {
  margin: 0 15px;
  transition: 0.5s ease;

}

.nav-link:hover {
  border-bottom: 1px solid #fff;
  transition: 0.7s ease;
}

.actived {
  border-bottom: 1px solid #fff;
}

/* HERO */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(173, 173, 173, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero-content span {
  background: rgb(178, 111, 203);
  background: radial-gradient(
    circle,
    rgba(178, 111, 203, 1) 0%,
    rgba(104, 56, 141, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.sub-hero p {
  font-size: 1.2rem;
  color: #e6e6e6;
}

.sub-hero i {
  font-size: 1.5rem;
  color: #e6e6e6;
}

.description p {
  margin-right: 10rem;
  margin-left: 10rem;
  color: white !important;
  font-size: 1.3rem;
  font-weight: 500;
}

.hero-location{
  color: #855ab4 !important;
}



/* SECTION */

.section-title span{
  border-bottom: 3px solid #855ab4;
}

.code-title i{
  color: #855ab4;
  font-weight: bold ;
}




/* SKILL */

.img-skill {
  margin: 3rem;
  height: 80px;
  width: auto;
  transition: transform 0.5s ease;
}

.skills {
  background-color: #292929;
  color: white;
  width: 200px;
  /* box-shadow: 1px 1px 1px #452950; */
  /* box-shadow: 0 0 10px rgba(143, 65, 173, 0.7); */
  margin-bottom: 10px;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.skill-section a {
  text-decoration: none;
}

.skill-section {
  padding-left: 15rem;
  padding-right: 15rem;
  /* background: radial-gradient(circle at 50% 50%, 
    #110515, #221545, #68388d, #855ab4, #ed8dca);
  filter: blur(1px); 
  transition: background 1s ease-in-out, filter 1s ease-in-out; */
}

.title-skill {
  font-size: 18px;
  transition: background 0.5s ease, -webkit-text-fill-color 0.5s ease;
  color: white;
}

.skills:hover .img-skill {
  transform: scale(1.2); /* Enlarge the image */
}

.skills:hover .title-skill {
  background: rgb(178, 111, 203);
  background: radial-gradient(
    circle,
    rgba(178, 111, 203, 1) 0%,
    rgba(104, 56, 141, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  transition: all 0.5s ease;
}

.skills:hover {
  box-shadow: 0 0 0 1px rgba(178, 111, 203, 1), 0 0 0 1px rgba(104, 56, 141, 1);
  transition: all 0.5s ease;
}

/* CERTIFICATE */

.certificate-section {
  padding-left: 15rem;
  padding-right: 15rem;
}

.certificate-lists h5{
  font-size: 300;
}

.certificate-lists h6 {
  color: #eeeeee;
  font-weight: 300;
}

.certificate-lists p {
  color: #a3a3a3;
  font-size: 14px;
}

/* PROJECTS */
.projects-section {
  padding-left: 15rem;
  padding-right: 15rem;
}

.project-card {
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  transition: all 0.5s ease;
}

.project-card a {
  text-decoration: none;
}

.project-card i {
  color: white;
  border: 1px solid white;
  font-size: 21px;
  padding: 3px 7px;
  border-radius: 50px;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.project-card i:hover {
  background: rgb(178, 111, 203);
  background: radial-gradient(
    circle,
    rgba(178, 111, 203, 1) 0%,
    rgba(104, 56, 141, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  transition: all 0.5s ease;
  border-color: #855ab4;
}

.project-link {
  margin-top: 1.5rem;
}

.project-img {
  border-radius: 15px;
}

.project-title{
  color: white;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
}
.project-title:hover{
  background: rgb(178, 111, 203);
  background: radial-gradient(
    circle,
    rgba(178, 111, 203, 1) 0%,
    rgba(104, 56, 141, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  transition: all 0.5s ease;
}

.project-description {
  color: #a3a3a3;
  margin-left: 5px;
  margin-right: 5px;
}

.below-img-project {
  margin-left: 10px;
  margin-right: 10px;
}

.projects-section .card-body {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 1rem;
  background-color: #111111;
  border: 1px solid #a3a3a3bd;
  border-radius: 15px;
}

.projects-section .card-body:hover {
  background-color: #292929;
}


.project-tech-stack .badge {
  border: 1px solid #a3a3a3bd;
  font-weight: 400;
}

/* ABOUT */

.mine-pict {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.mine-pict:hover {
  filter: grayscale(0%);
  transition: filter 0.5s ease;
}

.polaroid-frame {
  width: 250px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  margin: 20px;
  text-align: center;
}

.polaroid-frame img {
  width: 100%;
  border-radius: 4px;
}

.polaroid-frame .caption {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.about-me-section {
  margin-top: 7rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.about-title {
  margin-left: 1rem;
  margin-top: 1.3rem;
}

.my-something {
  margin-left: 1rem;
  font-weight: 400;
}

.something {
  background: rgb(178, 111, 203);
  background: radial-gradient(
    circle,
    rgba(178, 111, 203, 1) 0%,
    rgba(104, 56, 141, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.my-description {
  color: #a3a3a3;
  margin-left: 1rem;
}


/* FOOTER */
.footer {
  border-top: 1px solid white;
}

.copyright a {
  color: white;
  margin-right: 3px;
}

.copyright a:hover {
  color: #a3a3a3;
}